﻿@{
    ViewData["Title"] = "Programmist";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p></p>
<p>MvcMuuvi on asendamatu töövahend igale filmihuvilisele.</p>
<p>Selle programmiga saab kerge vaevaga kõik oma filmikogusse kuuluvad kunstiteosed süstematiseerida.</p>
<p></p>
<p>Tehtud Vali IT! praktika raames Uptime OÜ-s Raimo Seero juhendamisel oktoobris 2017.</p>
<p>Õppematerjal: <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/">Create a web app with ASP.NET Core MVC using Visual Studio for Mac.</a></p>
