﻿@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	<h4>Valmar Moritz</h4>
	praktikant<br />
	Uptime OÜ<br />
    Pärnu mnt 158<br />
    Tallinn<br />
    <abbr title="E-post">M:</abbr>
    info@uptime.ee
</address>

<address>
    <strong>Klienditugi:</strong> <a href="mailto:Support@example.com">klienditugi@uptime.ee</a><br />
    <strong>Turundus:</strong> <a href="mailto:Marketing@example.com">turundus@uptime.ee</a>
</address>
