@model MvcMovie.Models.MovieGenreViewModel
@System.Globalization.CultureInfo.CurrentUICulture

@{
    ViewData["Title"] = "Indeks";
}

<h2>Indeks</h2>

<p>
    <a asp-action="Create">Loo uus</a>
</p>

<form asp-controller="Muuvi" asp-action="Index" method="get">
    <p>
        <select asp-for="MuuviZhanr" asp-items="Model.zhanrid">
            <option value="">kõik žanrid</option>
        </select>
		
		Pealkiri: <input type="text" name="SearchString">
        <input type="submit" value="Filtreeri" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.muuvid[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.muuvid[0].ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.muuvid[0].Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.muuvid[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.muuvid[0].Rating)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.muuvid) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
